<html
    lang="en"
    xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{categories}">
    <f:form action="list" object="{filter}" name="filter" objectName="filter">
        <f:if condition="{categories.admissionRestriction}">
            <label for="admissionRestriction">{f:translate(key: 'sys_category.type.admission_restriction')}</label>
            <f:form.select
                id="admissionRestriction"
                property="admissionRestriction"
                options="{categories.admissionRestriction}"
                optionValueField="uid"
                optionLabelField="title"
                prependOptionLabel=""
                prependOptionValue=""
            />
        </f:if>
        <f:if condition="{categories.applicationPeriod}">
            <label for="applicationPeriod">{f:translate(key: 'sys_category.type.application_period')}</label>
            <f:form.select
                id="applicationPeriod"
                property="applicationPeriod"
                options="{categories.applicationPeriod}"
                optionValueField="uid"
                optionLabelField="title"
                prependOptionLabel=""
                prependOptionValue=""
            />
        </f:if>
        <f:if condition="{categories.beginCourse}">
            <label for="beginCourse">{f:translate(key: 'sys_category.type.begin_course')}</label>
            <f:form.select
                id="beginCourse"
                property="beginCourse"
                options="{categories.beginCourse}"
                optionValueField="uid"
                optionLabelField="title"
                prependOptionLabel=""
                prependOptionValue=""
            />
        </f:if>
        <f:if condition="{categories.costs}">
            <label for="costs">{f:translate(key: 'sys_category.type.costs')}</label>
            <f:form.select
                id="costs"
                property="costs"
                options="{categories.costs}"
                optionValueField="uid"
                optionLabelField="title"
                prependOptionLabel=""
                prependOptionValue=""
            />
        </f:if>
        <f:if condition="{categories.degree}">
            <label for="degree">{f:translate(key: 'sys_category.type.degree')}</label>
            <f:form.select
                id="degree"
                property="degree"
                options="{categories.degree}"
                optionValueField="uid"
                optionLabelField="title"
                prependOptionLabel=""
                prependOptionValue=""
            />
        </f:if>
        <f:if condition="{categories.department}">
            <label for="department">{f:translate(key: 'sys_category.type.department')}</label>
            <f:form.select
                id="department"
                property="department"
                options="{categories.department}"
                optionValueField="uid"
                optionLabelField="title"
                prependOptionLabel=""
                prependOptionValue=""
            />
        </f:if>
        <f:if condition="{categories.standardPeriod}">
            <label for="standardPeriod">{f:translate(key: 'sys_category.type.standard_period')}</label>
            <f:form.select
                id="standardPeriod"
                property="standardPeriod"
                options="{categories.standardPeriod}"
                optionValueField="uid"
                optionLabelField="title"
                prependOptionLabel=""
                prependOptionValue=""
            />
        </f:if>
        <f:if condition="{categories.courseType}">
            <label for="courseType">{f:translate(key: 'sys_category.type.course_type')}</label>
            <f:form.select
                id="courseType"
                property="courseType"
                options="{categories.courseType}"
                optionValueField="uid"
                optionLabelField="title"
                prependOptionLabel=""
                prependOptionValue=""
            />
        </f:if>
        <f:if condition="{categories.teachingLanguage}">
            <label for="teachingLanguage">{f:translate(key: 'sys_category.type.teaching_language')}</label>
            <f:form.select
                id="teachingLanguage"
                property="teachingLanguage"
                options="{categories.teachingLanguage}"
                optionValueField="uid"
                optionLabelField="title"
                prependOptionLabel=""
                prependOptionValue=""
            />
        </f:if>
        <f:if condition="{categories.topic}">
            <label for="topic">{f:translate(key: 'sys_category.type.topic')}</label>
            <f:form.select
                id="topic"
                property="topic"
                options="{categories.topic}"
                optionValueField="uid"
                optionLabelField="title"
                prependOptionLabel=""
                prependOptionValue=""
            />
        </f:if>
        <f:form.submit value="Filter" />
    </f:form>
</f:if>

<div class="course-list">
    <f:if condition="{courses}">
        <f:for each="{courses}" as="course">
            <div
                class="course"
                data-application=""
            >
                <f:link.page pageUid="{course.uid}">
                    <h3>{course.title}</h3>
                    <p>
                        <f:for each="{course.attributes.degree}" as="degree">
                            {degree.title}
                        </f:for>
                    </p>
                </f:link.page>
            </div>
        </f:for>
    </f:if>
</div>
</html>
