<html
    lang="en"
    xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:layout name="Default"/>

<f:section name="Main">
    <main>
        <div class="intro">
            <f:cObject typoscriptObjectPath="styles.content.getIntro"/>
        </div>
        <div class="overview">
            <f:cObject typoscriptObjectPath="styles.content.getOverview"/>
        </div>
        <section class="content">
            <aside class="study-attributes">
                <f:render partial="Attributes" arguments="{_all}"/>
            </aside>
            <f:cObject typoscriptObjectPath="styles.content.getContent"/>
        </section>
        <section class="after-study">
            <f:cObject typoscriptObjectPath="styles.content.getAfterStudy"/>
        </section>
        <section class="application">
            <f:cObject typoscriptObjectPath="styles.content.getApplication"/>
        </section>
        <section class="before-study">
            <f:cObject typoscriptObjectPath="styles.content.getBeforeStudy"/>
        </section>
    </main>
    <footer>
        <f:cObject typoscriptObjectPath="styles.content.getContact"/>
    </footer>
</f:section>
</html>
